@model List<arabakiralam.Models.Car>
@{
    ViewData["Title"] = "AddToList";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="containter">
    <div class="col-9">
        <table class="table">
            <thead>
                <tr>
                    <td>Araba Resim</td>
                    <td>Araba Plaka</td>
                    <td>Günlük Fiyat</td>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Model</td>
                        <td>@item.PlateNumber</td>
                        <td>@item.DailyPrice</td>
                    </tr>
                }
            </tbody>

        </table>


    </div>
    <div class="col-3"></div>

</div>

