@model List<arabakiralam.Models.Car>
@{
    ViewData["Title"] = "AddToList";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="containter">
    <div class="col-9"></div>
    <div class="col-3"></div>

</div>

